/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14213d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  /* text-align: center; */
  place-items: center;
  min-width: 320px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1,
h3 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.1;
  color: #e5e5e5;
  text-align: center;
  padding-bottom: 2rem;
}

h3 {
  font-size: 2em;
  padding: 1rem;
  padding-bottom: 2rem;
}

p {
  text-align: left;
}

button {
  border-radius: 0.6rem;
  color: #fcbf49;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  font-weight: bold;
  background-color: #e5e5e5;
}

button:hover {
  color: #5fa8d3;
  cursor: pointer;
}
