.Footer {
  margin-top: auto;
  background-color: #5fa8d3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  font-size: 14px;
  padding: 25px 0;
}
