.HabitForm label {
  display: block;
  margin-bottom: 10px;
}

.HabitForm input {
  display: block;

  width: 70%;
  background-color: #5fa8d3;
  padding: 0.7rem 0.3rem;
  border: 2px #e5e5e5;
  border-radius: 0.5rem;
  color: #e5e5e5;
}

.HabitForm label {
  text-align: left;
  color: #e5e5e5;
}
.HabitForm {
  padding-top: 2rem;
  margin-left: 25%;
  margin-right: 5%;
  width: 70%;
}
/* .navbar {
  display: flex;
  justify-content: space-between;
} */

/* Website Colors 
body: 
#14213d
Text: 
#e5e5e5

Buttons:
#5fa8d3
#fcbf49
*/
.submit {
  text-align: center;
  color: #fcbf49;
  font-weight: 700;
}

.submit:hover {
  color: #5fa8d3;
}
