.HabitForm {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #5fa8d3;
  padding: 3rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.HabitForm label {
  display: block;
  margin-bottom: 0.2rem;
  text-align: left;
  padding: 0.3rem;
  color: #e5e5e5;
  font-size: 18px;
  font-weight: bold;
}

.HabitForm input {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #e5e5e5;
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  color: #5fa8d3;
  border: 2px solid #5fa8d3;
}

.HabitForm input:focus {
  outline: none !important;
  border: 2px solid #fcbf49;
}

.HabitForm input::placeholder {
  font-weight: bold;
  font-size: 18px;
  opacity: 0.3;
  color: #5fa8d3;
}

.span-2 {
  display: flex;
  gap: 1rem;
  flex: 0 0 100%;
  justify-content: space-between;
}

.submit {
  text-align: center;
  display: block;
}

@media (max-width: 600px) {
  .span-2 {
    display: block;
  }
}
