.habit-item {
  display: block;
  background-color: #5fa8d3;
  text-align: left;
  border-radius: 0.6rem;
  padding: 1.2rem;
  margin: 1rem auto;
  width: 70%;
  border: 2px solid #e5e5e5;
}

.habit-list a {
  cursor: pointer;
  color: #e5e5e5;
  font-size: 20px;
  font-weight: bold;
  /* margin-left: 1rem; */
}

button {
  border: 2px solid #fcbf49;
  cursor: pointer;
}

.HabitTitle {
  margin-left: 1.3rem;
}

.fa-regular,
.fa-solid {
  color: #fcbf49;
  font-size: 28px;
}

.fa-regular:hover,
.fa-solid:hover {
  color: #5fa8d3;
}

/* Website Colors 
body: 
#14213d
Text: 
#e5e5e5

Buttons:
#5fa8d3
#fcbf49
*/
